{% extends "father_template.html" %}
{% load static %}
{% block content %}
<div id="text-container">Welcome to Magnament User System</div>
<div id="three-container"></div>
    <section class="my-5 container">
            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center my-5">WELCOME OUR USER MANAGMENT COMMUNITY!</h2>
            <!-- Section description -->
            <p class="grey-text text-center w-responsive mx-auto mb-5">We are thrilled to extend a warm welcome to each of you as valued members of our User Management Community! Your presence adds immeasurable value, and we're excited to embark on this journey of collaboration, knowledge sharing, and growth together.</p>
            <!-- Grid row -->
            <div class="row">
            <!-- Grid column -->
            <div class="col-lg-5 mb-lg-0 mb-5">
                <!--Image-->
                <img src='{% static "images/logo.jpg" %}' alt="Sample project image" class="img-fluid rounded img-thumbnail">
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-7">
                <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-1 col-2">
                        <i class="fas fa-paw fa-2x cyan-text"></i>
                    </div>
                    <div class="col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Engaging Discussions:</h5>
                        <p class="grey-text">Participate in thought-provoking conversations about the latest trends, best practices, and challenges in user management. Share your insights and learn from others' experiences.</p>
                    </div>
                </div>
                <!-- Grid row -->
                <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-1 col-2">
                        <i class="fas fa-book fa-2x red-text"></i>
                    </div>
                    <div class="col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Resource Sharing</h5>
                        <p class="grey-text">Access valuable resources, articles, and tutorials related to user management. Feel free to share your own discoveries and recommendations with the community.</p>
                    </div>
                </div>
                <!-- Grid row -->
                <!-- Grid row -->
                <div class="row">
                    <div class="col-md-1 col-2">
                        <i class="far fa-calendar-days fa-2x deep-purple-text"></i>
                    </div>
                    <div class="col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Networking Opportunities</h5>
                        <p class="grey-text mb-0">Connect with fellow members, build professional relationships, and collaborate on projects. Our community is a hub for networking and creating meaningful connections.</p>
                    </div>
                </div>
                <!-- Grid row -->
            </div>
            <!-- Grid column -->
        
        </div>
        <!-- Grid row -->
        <hr class="my-5">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-7">
                <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-1 col-2">
                        <i class="far fa-chart-bar fa-2x indigo-text"></i>
                    </div>
                    <div class="col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Registration</h5>
                        <p class="grey-text">To get started, simply register by providing the necessary information. Make sure to enter accurate data for a comprehensive registration.</p>
                    </div>
                </div>
                <!-- Grid row -->
                <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-1 col-2">
                        <i class="far fa-2x fa-heart deep-purple-text"></i>
                    </div>
                    <div class="col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">View Registration</h5>
                        <p class="grey-text">After registering, you can access your personal area to view all details of your registration.</p>
                    </div>
                </div>
                <!-- Grid row -->
                <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-1 col-2">
                    <i class="fas fa-2x fa-flask deep-purple-text"></i>
                    </div>
                    <div class="col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">Modify Registration</h5>
                    <p class="grey-text"> If you need to update or correct information in your registration, you can easily make modifications. </p>
                    </div>
                </div>
                <!-- Grid row -->
                <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-1 col-2">
                    <i class="fas fa-2x fa-bolt deep-purple-text"></i>
                    </div>
                    <div class="col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">Download PDF</h5>
                    <p class="grey-text">Additionally, you have the option to download a PDF version of your registration for your records. This feature allows you to have a physical or digital copy of your information. </p>
                    </div>
                </div>
                <!-- Grid row -->
                
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-5">
                <!--Image-->
                <img src='{% static "images/otherlogo.jpg" %}' alt="Sample project image" class="img-fluid rounded z-depth-1">
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    
    </section>
    <!-- Projects section v.3 -->
    <div id="three-container"></div>
{% endblock %}
